 <%= link_to (image_tag "linkedin.png", :width => 55, :height => 55), url_for("https://www.linkedin.com/in/oliviacoffaro/") %>

 <%= link_to (image_tag "github.png", :width => 50, :height => 50), url_for("https://github.com/oliviacoffaro") %>

 <%= link_to (image_tag "twitter.png", :width => 50, :height => 50), url_for("https://twitter.com/aloofia") %>

 <%= link_to (image_tag "download.png", :width => 50, :height => 50), url_for("https://www.google.com") %>

 <%= mail_to "ofcoffaro@gmail.com", image_tag("email.png", :width => 50, :height => 50) %>

<p> Hi, I'm Olivia. <br>
I'm a full-stack developer with a heart of gold.
</p>
